<p>
    <strong>Titre :</strong>
    <%= @article.title %>
</p>
<p>
    <strong>Contenu :</strong>
    <%= @article.text %>
</p>

<%= link_to 'Editer', edit_article_path %>
<%= link_to 'Retour' , articles_path %>